body{
  background: url(https://img.manoramaonline.com/content/dam/mm/en/food/foodie/images/2018/9/15/fridge-food.jpg)
}
.fridge-list {
    margin: 0 auto;
    margin-top: 20px;
  }
   
  .list-group-item > button.delete,
  .list-group-item > button.move {
    float: right;
    height: 25px;
    margin-left: 5px;
  }
  
  .edit {
    width: 100%;
  }
  